:root {
  --light: aliceblue;
  --dark: #303a4c;
  --shine: #fcba03;
  --shade: #333;
  --font-size:16px;
  --font-family: consolas, monotype;
}
body {
  margin: 0;
  padding: 0;
  font-size:var(--font-size);
  line-height:var(--font-size);
  font-family:var(--font-family);
  color: var(--dark);
  h1{
    display:block;
    margin:0 auto;
  }
  a:hover, input:focus, input:hover{
    box-shadow:10px 10px 5px 0px var(--shine);
    transition: all 0.1s ease-in-out;
  }
}
body.night{
  background-color:var(--dark);
  color: var(--light);
  h1, h2, h3, h4, h5, h6, p, span{
    // mix-blend-mode: difference;
  }
  a:hover, input:focus, input:hover{
    box-shadow:10px 10px 5px 0px var(--shine);
    transition: all 0.1s ease-in-out;
  }
}
.daynight-switcher {
  padding: 5rem 5rem;
  input {
    display: none;
    &:checked ~ .switcher-back {
      // cursor: url(&rarr;); //TODO: rethink to set unicode icon urls
      // background-color: var(--light);
      // background: linear-gradient(90deg, var(--light) 0%, transparent 50%, transparent 100%);
      background: transparent;
      transition: all 0.5s ease-in-out;
      &:before, &:after, .switcher-front:before{
        background: transparent;
        // width:0;
        transition: all 0.5s ease-in-out;
      }
      :hover{
      box-shadow:-3px -1px 5px 0px var(--shine);
    }
      .switcher-front {
        // transform: translate(2rem, 0);
        transition: all 0.5s ease-in-out;
        &--inner {
          background-color: var(--dark);
          transform: scale(0.8) translate(0.25rem, 0);
          transition: all 0.5s ease-in-out;
        }
      }
    }
  }
  .switcher-back {
    position: relative;
    margin: 0.5rem;
    width: 3rem;
    height: 0.25rem;
    border-radius: 0.25rem;
    background-color: var(--shine);
    background: linear-gradient(90deg, var(--shine) 0%, transparent 20%, transparent 80%, var(--shine) 100%);
    overflow: visible;
    box-sizing: border-box;
    cursor :url('http://unicode.org/emoji/charts/full-emoji-list.html#1f311');
    cursor:  url(\2706) 2 2, pointer;
    transition: all 0.5s ease-in-out;
    &:before, &:after, .switcher-front:before{
      content:"";
      display:block;
      position:absolute;
      width: 3.5rem;
      height: 0.25rem;
      border-radius: 0.25rem;
      background-color: var(--shine);
      background: linear-gradient(90deg, var(--shine) 0%, transparent 20%, transparent 80%, var(--shine) 100%);
      transition: all 0.5s ease-in-out;
    }
    &:before{
      // top:.05rem;
      left:-.15rem;
      transform:rotate(-45deg);
    }
    &:after{
      top:0;
      left:-.25rem;
      transform:rotate(45deg);
    }
    .switcher-front:before{
      left:-1rem;
      top:0.65rem;
      transform:rotate(90deg);
    }
    .switcher-front {
      position: relative;
      width: 1.5rem;
      height: 1.5rem;
      top: -0.75rem;
      left: .75rem;
      // border: 1px solid var(--dark);
      // box-sizing:border-box;
      border-radius: 1rem;
      background-color: var(--light);
      transition: all 0.5s ease-in-out;
      &--inner {
        position: relative;
        width: 1.5rem;
        height: 1.5rem;
        background-color: var(--shine);
        border-radius: 1rem;
        border: 0.25rem solid transparent;
        box-sizing: border-box;
        transition: all 0.5s ease-in-out;
      }
    }
  }
}
