# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

#
############################################################################
## Woocommerce WordPress snippets ##########################################
############################################################################
".source.php":
  "Removing 'Order By' Drop-Down on WooCommerce Category Pages":
      "prefix":"woo_rm_order_by"
      "body":"""
        remove_action( 'woocommerce_before_shop_loop', 'woocommerce_catalog_ordering', 30 );
      """
  "Set Product Per Page Display Number":
        "prefix":"woo_shop_cols_per_page"
        "body":"""
          add_filter( 'loop_shop_per_page', create_function( '$cols', 'return 15;' ), 20 );
        """
  "Default Order By To Alphabetical":
        "prefix":"woo_order_default_alphabetical"
        "body":"""
          add_filter( 'woocommerce_composite_component_default_orderby', 'wc_cp_sort_by_title', 10, 3 );
          function wc_cp_sort_by_title( $default_sort_function, $component_id, $composite ) {
          	return 'orderby';
          }
        """
  "Change The Number Of Products Per Row":
        "prefix":"woo_shop_products_per_row"
        "body":"""
          add_filter('loop_shop_columns', 'loop_columns');
          if (!function_exists('loop_columns')) {
          	function loop_columns() {
          		return 3; // 3 products per row
          	}
          }
        """
  "Hide or Change 'Free!' Price Label for $0 Products":
        "prefix":"woo_shop_hide_null_price"
        "body":"""
          // Hide or Change "Free!" Price Label for $0 Products
          add_filter( 'woocommerce_variable_free_price_html', 'hide_free_price' );
          add_filter( 'woocommerce_free_price_html', 'hide_free_price' );
          add_filter( 'woocommerce_variation_free_price_html', 'hide_free_price' );
          function hide_free_price($price){
          	return '';
          }
        """
  "Remove Breadcrumbs From WooCommerce":
        "prefix":"woo_rm_breadcrumbs"
        "body":"""
          // Remove Breadcrumbs From WooCommerce
          add_action( 'init', 'jk_remove_wc_breadcrumbs' );
          function jk_remove_wc_breadcrumbs() {
              remove_action( 'woocommerce_before_main_content', 'woocommerce_breadcrumb', 20, 0 );
          }
        """
  "Remove Breadcrumbs From WooCommerce":
        "prefix":"woo_rm_breadcrumbs"
        "body":"""
          // Remove Breadcrumbs From WooCommerce
          add_action( 'init', 'jk_remove_wc_breadcrumbs' );
          function jk_remove_wc_breadcrumbs() {
              remove_action( 'woocommerce_before_main_content', 'woocommerce_breadcrumb', 20, 0 );
          }
        """
