# rewrite http to https
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]
RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# deny access to files on server
#<FilesMatch "\.(htaccess|htpasswd|ini|phps|fla|psd|log|sh)$">
#	Order Allow,Deny
# Deny from all
#</FilesMatch>

# disable directory browsing
Options All -Indexes
#

# 301 redirect
Redirect 301 /oldpage.html /newpage.html
# nginx redirect tutorial https://www.bjornjohansen.com/nginx-redirect

# redirect domain
# RewriteEngine on
# RewriteCond %{HTTP_HOST} ^oldsite.com [NC,OR]
# RewriteCond %{HTTP_HOST} ^www.oldsite.com [NC]
# RewriteRule ^(.*)$ https://newsite.com/$1 [L,R=301,NC]
